.defaultHeader{
    text-align: center;
    h1{
        color:hsl(197, 8%, 50%);
        font-size: 7rem;
    }
    p{
     color:hsl(197, 8%, 50%);
     font-size:1.125rem;
    }
    
    a{
        color:hsl(197, 8%, 50%);;
        box-shadow: 0 0 1px 1px hsl(133, 88%, 63%);;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-top: 0.85rem ;
        background-color: hsl(133, 88%, 63%);;
    }
 }