
  h1{
    color:hsl(197, 8%, 50%);
    font-size: 7rem;
  }
  button:nth-child(2){
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border:2px solid hsl(197, 8%, 50%);
    color: hsl(197, 8%, 50%);
    
  }
  button:nth-child(1){
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border:2px solid hsl(197, 8%, 50%);
    color:hsl(197, 8%, 50%) ;
    
  }
  button{
    text-align: center;
  }
  h2{
    color:hsl(197, 8%, 50%);
    font-size:24px;
    border: none;
    padding-bottom: 2rem;
  }
  p{
    color:hsl(197, 8%, 50%);
    font-size:16px;
    border: none;
    text-align: center;
  }
header{
  text-align: center;
}
label{
  color: hsl(197, 8%, 50%);
}
input{
  border: 2px solid hsl(197, 8%, 50%);
}
