
  h1{
    color:hsl(197, 8%, 50%);
    font-size: 7rem;
  }
  button:nth-child(2){
    background-color: rgb(247, 149, 149);
    padding: 0.5rem 1rem;
    border:2px solid red;
    color: red;
    
  }
  button:nth-child(1){
    background-color: rgb(146, 252, 161);
    padding: 0.5rem 1rem;
    border:2px solid #4CAF50;
    color: #4CAF50;
    
  }
  button{
    text-align: center;
  }
  h2{
    color:hsl(197, 8%, 50%);
    font-size:24px;
    border: none;
    padding-bottom: 2rem;
  }
  p{
    color:hsl(197, 8%, 50%);
    font-size:16px;
    border: none;
    text-align: center;
  }
header{
  text-align: center;
}