.todolist {
 background-color: #c5cbe3;
  .section_heading {
    padding: 0.85rem 0;
    color: hsl(197, 8%, 50%);
    text-align: center;
    h1{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    
  }
 
  
}
