.todolist {
 background-color: #c5cbe3;
  .section_heading {
    padding: 0.85rem 0;
    color: hsl(197, 8%, 50%);
    text-align: center;
    h1{
      font-size: 40px;
    }
    p{
      font-size: 20px;
      padding-bottom: 2rem;
    }
    a{
      text-align: center;
      color:hsl(197, 8%, 50%);;
        box-shadow: 0 0 1px 1px hsl(133, 88%, 63%);;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-top: 0.85rem ;
        background-color: hsl(133, 88%, 63%);;
    }
  }
 
 
  
}
