span.flex{
    text-align: center;
}
span{
    display: flex;
  flex-direction: column;
   flex-flow: column wrap;
}
input, label{
    display: block;
}

input{
    text-align: center;
}
button{
    text-align: center;
}
header{
    h1{
        padding-top: 7rem;
        text-align: center;
        color:hsl(197, 8%, 50%);
        font-size: 7rem;
    }
    h2{
        text-align: center;
     color:hsl(197, 8%, 50%);
     font-size:1.125rem;
    }
    h3{
        text-align: center;
        color:hsl(197, 8%, 50%);
        font-size:45px;
        padding-top: 2rem;
    }
}